# NETWORK MONITORING AI TEST

In [17]:
import pandas as pd
import numpy as np

In [1]:
!ls ../data

25ThuSAU.pcapng  dhcp.log.gz	 http.log.gz	      top_domains_1k.csv
app_stats.log	 dns.log	 intel_example.intel  tor_ssl.log
conn.log	 files.log	 json		      weird.log
dhcp_002.log	 ftp.log	 notice.log	      x509.log
dhcp_002.log.gz  http_empty.log  smtp.log
dhcp.log	 http.log	 ssl.log

In [2]:
!head ../data/conn.log

#separator \x09
#set_separator	,
#empty_field	(empty)
#unset_field	-
#path	conn
#open	2014-04-03-10-08-27
#fields	ts	uid	id.orig_h	id.orig_p	id.resp_h	id.resp_p	proto	service	duration	orig_bytes	resp_bytes	conn_state	local_orig	missed_bytes	history	orig_pkts	orig_ip_bytes	resp_pkts	resp_ip_bytes	tunnel_parents
#types	time	string	addr	port	addr	port	enum	string	interval	count	count	string	bool	count	string	count	count	count	count	table[string]
1379288667.706265	CoyZrY2g74UvMMgp4a	192.168.33.10	1032	54.245.228.191	80	tcp	http	0.447460	601	38393	RSTO	-	0	ShADadR	22	1489	31	39641	(empty)
1379288668.093470	CaJxA82D4HGxRzEgjc	192.168.33.10	1039	54.245.228.191	80	tcp	http	0.116953	311	14886	RSTO	-	0	ShADadR	11	759	13	15414	(empty)

In [3]:
!head ../data/json/conn.log

{"ts":1575413096.052279,"uid":"CH53301MTU21BMj2Bj","id.orig_h":"10.18.20.97","id.orig_p":49187,"id.resp_h":"10.18.20.8","id.resp_p":88,"proto":"tcp","service":"krb_tcp","duration":0.0012309551239013672,"orig_bytes":242,"resp_bytes":283,"conn_state":"RSTR","missed_bytes":0,"history":"ShADdFar","orig_pkts":4,"orig_ip_bytes":414,"resp_pkts":4,"resp_ip_bytes":455}
{"ts":1575413096.068448,"uid":"CdtRb5LBRtPXEsGik","id.orig_h":"10.18.20.97","id.orig_p":49188,"id.resp_h":"10.18.20.8","id.resp_p":88,"proto":"tcp","service":"krb_tcp","duration":0.0013108253479003907,"orig_bytes":322,"resp_bytes":1603,"conn_state":"RSTR","missed_bytes":0,"history":"ShADdFar","orig_pkts":5,"orig_ip_bytes":534,"resp_pkts":5,"resp_ip_bytes":1815}
{"ts":1575413096.070253,"uid":"C3inT24bBCy7ofArEd","id.orig_h":"10.18.20.97","id.orig_p":49189,"id.resp_h":"10.18.20.8","id.resp_p":88,"proto":"tcp","service":"krb_tcp","duration":0.001316070556640625,"orig_bytes":1574,"resp_bytes":1540,"conn_state":"RSTR","missed_bytes":0,"history":"ShADadFr","orig_pkts":6,"orig_ip_bytes":1826,"resp_pkts":6,"resp_ip_bytes":1792}
{"ts":1575413096.046471,"uid":"CMjeUw2gIHIKi7d1l","id.orig_h":"10.18.20.97","id.orig_p":49186,"id.resp_h":"10.18.20.8","id.resp_p":389,"proto":"tcp","duration":0.027740955352783204,"orig_bytes":2949,"resp_bytes":474,"conn_state":"RSTR","missed_bytes":0,"history":"ShADadr","orig_pkts":7,"orig_ip_bytes":3241,"resp_pkts":6,"resp_ip_bytes":726}
{"ts":1575413096.035613,"uid":"CXT2XBVBBqwWHrj4d","id.orig_h":"10.18.20.97","id.orig_p":49185,"id.resp_h":"10.18.20.8","id.resp_p":389,"proto":"tcp","duration":0.03884100914001465,"orig_bytes":2782,"resp_bytes":3193,"conn_state":"RSTR","missed_bytes":0,"history":"ShADdar","orig_pkts":11,"orig_ip_bytes":3234,"resp_pkts":10,"resp_ip_bytes":3605}
{"ts":1575413101.219804,"uid":"CMlao93dbp9XsCZPP8","id.orig_h":"10.18.20.97","id.orig_p":49161,"id.resp_h":"10.18.20.8","id.resp_p":445,"proto":"tcp","service":"smb","duration":0.0012068748474121094,"orig_bytes":144,"resp_bytes":144,"conn_state":"OTH","missed_bytes":0,"history":"DdR","orig_pkts":3,"orig_ip_bytes":264,"resp_pkts":2,"resp_ip_bytes":224}
{"ts":1575413113.699148,"uid":"CnlQTU2j3QwjACjNN3","id.orig_h":"10.18.20.97","id.orig_p":49156,"id.resp_h":"10.18.20.8","id.resp_p":49158,"proto":"tcp","duration":0.0003609657287597656,"orig_bytes":0,"resp_bytes":0,"conn_state":"SF","missed_bytes":0,"history":"FafA","orig_pkts":2,"orig_ip_bytes":80,"resp_pkts":2,"resp_ip_bytes":80}
{"ts":1575413113.698863,"uid":"CwWPun44yWmJsyTSGc","id.orig_h":"10.18.20.97","id.orig_p":49155,"id.resp_h":"10.18.20.8","id.resp_p":135,"proto":"tcp","duration":0.000823974609375,"orig_bytes":0,"resp_bytes":0,"conn_state":"SF","missed_bytes":0,"history":"FafA","orig_pkts":2,"orig_ip_bytes":80,"resp_pkts":2,"resp_ip_bytes":80}
{"ts":1575413121.831802,"uid":"Cbbn05381tuNU41YIj","id.orig_h":"10.18.20.97","id.orig_p":49190,"id.resp_h":"10.18.20.8","id.resp_p":88,"proto":"tcp","service":"krb_tcp","duration":0.001560211181640625,"orig_bytes":231,"resp_bytes":231,"conn_state":"RSTR","missed_bytes":0,"history":"ShADdFar","orig_pkts":4,"orig_ip_bytes":403,"resp_pkts":4,"resp_ip_bytes":403}
{"ts":1575413121.843374,"uid":"C12Rqn3zlwfnTdz4jg","id.orig_h":"10.18.20.97","id.orig_p":49191,"id.resp_h":"10.18.20.8","id.resp_p":88,"proto":"tcp","service":"krb_tcp","duration":0.0016798973083496094,"orig_bytes":311,"resp_bytes":1585,"conn_state":"RSTR","missed_bytes":0,"history":"ShADdFar","orig_pkts":5,"orig_ip_bytes":523,"resp_pkts":5,"resp_ip_bytes":1797}

In [4]:
from zat import zeek_log_reader # it will import as python dict type

In [5]:
reader = zeek_log_reader.ZeekLogReader('../data/json/conn.log')

In [6]:
# Show reader index 0
# Count of lines are only 50
counter =0
for i in reader.readlines():
    print(i)
    counter+=1
    if counter ==5:
        break
print(counter)

{"ts":1575413096.052279,"uid":"CH53301MTU21BMj2Bj","id.orig_h":"10.18.20.97","id.orig_p":49187,"id.resp_h":"10.18.20.8","id.resp_p":88,"proto":"tcp","service":"krb_tcp","duration":0.0012309551239013672,"orig_bytes":242,"resp_bytes":283,"conn_state":"RSTR","missed_bytes":0,"history":"ShADdFar","orig_pkts":4,"orig_ip_bytes":414,"resp_pkts":4,"resp_ip_bytes":455}

{"ts":1575413096.068448,"uid":"CdtRb5LBRtPXEsGik","id.orig_h":"10.18.20.97","id.orig_p":49188,"id.resp_h":"10.18.20.8","id.resp_p":88,"proto":"tcp","service":"krb_tcp","duration":0.0013108253479003907,"orig_bytes":322,"resp_bytes":1603,"conn_state":"RSTR","missed_bytes":0,"history":"ShADdFar","orig_pkts":5,"orig_ip_bytes":534,"resp_pkts":5,"resp_ip_bytes":1815}

{"ts":1575413096.070253,"uid":"C3inT24bBCy7ofArEd","id.orig_h":"10.18.20.97","id.orig_p":49189,"id.resp_h":"10.18.20.8","id.resp_p":88,"proto":"tcp","service":"krb_tcp","duration":0.001316070556640625,"orig_bytes":1574,"resp_bytes":1540,"conn_state":"RSTR","missed_bytes":0,"history":"ShADadFr","orig_pkts":6,"orig_ip_bytes":1826,"resp_pkts":6,"resp_ip_bytes":1792}

{"ts":1575413096.046471,"uid":"CMjeUw2gIHIKi7d1l","id.orig_h":"10.18.20.97","id.orig_p":49186,"id.resp_h":"10.18.20.8","id.resp_p":389,"proto":"tcp","duration":0.027740955352783204,"orig_bytes":2949,"resp_bytes":474,"conn_state":"RSTR","missed_bytes":0,"history":"ShADadr","orig_pkts":7,"orig_ip_bytes":3241,"resp_pkts":6,"resp_ip_bytes":726}

{"ts":1575413096.035613,"uid":"CXT2XBVBBqwWHrj4d","id.orig_h":"10.18.20.97","id.orig_p":49185,"id.resp_h":"10.18.20.8","id.resp_p":389,"proto":"tcp","duration":0.03884100914001465,"orig_bytes":2782,"resp_bytes":3193,"conn_state":"RSTR","missed_bytes":0,"history":"ShADdar","orig_pkts":11,"orig_ip_bytes":3234,"resp_pkts":10,"resp_ip_bytes":3605}

5

In [7]:
# Convert Zeek log to pandas Dataframe

In [8]:
from zat.log_to_dataframe import LogToDataFrame

In [9]:
log_to_df = LogToDataFrame()

In [10]:
zeek_df = log_to_df.create_dataframe('../data/conn.log')

In [11]:
from zat.json_log_to_dataframe import JSONLogToDataFrame
json_log_to_df =JSONLogToDataFrame()

In [12]:
zeek_df_json = json_log_to_df.create_dataframe('../data/json/conn.log')

In [13]:
zeek_df_json.head()

,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes
ts,,,,,,,,,,,,,,,,,
2019-12-03 22:44:56.052279040,CH53301MTU21BMj2Bj,10.18.20.97,49187,10.18.20.8,88,tcp,krb_tcp,0.001231,242,283,RSTR,0,ShADdFar,4,414,4,455
2019-12-03 22:44:56.068448000,CdtRb5LBRtPXEsGik,10.18.20.97,49188,10.18.20.8,88,tcp,krb_tcp,0.001311,322,1603,RSTR,0,ShADdFar,5,534,5,1815
2019-12-03 22:44:56.070252800,C3inT24bBCy7ofArEd,10.18.20.97,49189,10.18.20.8,88,tcp,krb_tcp,0.001316,1574,1540,RSTR,0,ShADadFr,6,1826,6,1792
2019-12-03 22:44:56.046471168,CMjeUw2gIHIKi7d1l,10.18.20.97,49186,10.18.20.8,389,tcp,NaN,0.027741,2949,474,RSTR,0,ShADadr,7,3241,6,726
2019-12-03 22:44:56.035613184,CXT2XBVBBqwWHrj4d,10.18.20.97,49185,10.18.20.8,389,tcp,NaN,0.038841,2782,3193,RSTR,0,ShADdar,11,3234,10,3605

In [14]:
zeek_df_json.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 50 entries, 2019-12-03 22:44:56.052279040 to 2019-12-03 22:46:04.247293952
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   uid            50 non-null     object
 1   id.orig_h      50 non-null     object
 2   id.orig_p      50 non-null     int64
 3   id.resp_h      50 non-null     object
 4   id.resp_p      50 non-null     int64
 5   proto          50 non-null     object
 6   service        44 non-null     object
 7   duration       50 non-null     float64
 8   orig_bytes     50 non-null     int64
 9   resp_bytes     50 non-null     int64
 10  conn_state     50 non-null     object
 11  missed_bytes   50 non-null     int64
 12  history        50 non-null     object
 13  orig_pkts      50 non-null     int64
 14  orig_ip_bytes  50 non-null     int64
 15  resp_pkts      50 non-null     int64
 16  resp_ip_bytes  50 non-null     int64
dtypes: float64(1), int64(9), object(7)
memory usage: 7.0+ KB

In [19]:
zeek_df_json['id.orig_h'].unique() #gets unique ips in conn logs

array(['10.18.20.97'], dtype=object)

In [22]:
zeek_df_json['id.orig_p'].unique()
# Gets unique port for each host

array([49187, 49188, 49189, 49186, 49185, 49161, 49156, 49155, 49190,
       49191, 49192, 49194, 49196, 49197, 49199, 49200, 49198, 49180,
       59102, 53522, 52634, 62941, 49193, 49206, 49207, 49210, 63849,
       49201, 57937, 63013, 62613, 59748, 57621, 63874, 59279, 50702,
       61598, 52900, 63690, 55634, 59976, 49244, 60225, 49658, 49423,
       52091, 56275, 59553, 54089, 54576])

In [31]:
grIP=zeek_df_json.groupby(by=['id.orig_h'],group_keys=True).apply(lambda x: x)
# Group by ip
grIP.head()

                                                          uid    id.orig_h  \
id.orig_h   ts
10.18.20.97 2019-12-03 22:44:56.052279040  CH53301MTU21BMj2Bj  10.18.20.97
            2019-12-03 22:44:56.068448000   CdtRb5LBRtPXEsGik  10.18.20.97
            2019-12-03 22:44:56.070252800  C3inT24bBCy7ofArEd  10.18.20.97
            2019-12-03 22:44:56.046471168   CMjeUw2gIHIKi7d1l  10.18.20.97
            2019-12-03 22:44:56.035613184   CXT2XBVBBqwWHrj4d  10.18.20.97

                                           id.orig_p   id.resp_h  id.resp_p  \
id.orig_h   ts
10.18.20.97 2019-12-03 22:44:56.052279040      49187  10.18.20.8         88
            2019-12-03 22:44:56.068448000      49188  10.18.20.8         88
            2019-12-03 22:44:56.070252800      49189  10.18.20.8         88
            2019-12-03 22:44:56.046471168      49186  10.18.20.8        389
            2019-12-03 22:44:56.035613184      49185  10.18.20.8        389

                                          proto  service  duration  \
id.orig_h   ts
10.18.20.97 2019-12-03 22:44:56.052279040   tcp  krb_tcp  0.001231
            2019-12-03 22:44:56.068448000   tcp  krb_tcp  0.001311
            2019-12-03 22:44:56.070252800   tcp  krb_tcp  0.001316
            2019-12-03 22:44:56.046471168   tcp      NaN  0.027741
            2019-12-03 22:44:56.035613184   tcp      NaN  0.038841

                                           orig_bytes  resp_bytes conn_state  \
id.orig_h   ts
10.18.20.97 2019-12-03 22:44:56.052279040         242         283       RSTR
            2019-12-03 22:44:56.068448000         322        1603       RSTR
            2019-12-03 22:44:56.070252800        1574        1540       RSTR
            2019-12-03 22:44:56.046471168        2949         474       RSTR
            2019-12-03 22:44:56.035613184        2782        3193       RSTR

                                           missed_bytes   history  orig_pkts  \
id.orig_h   ts
10.18.20.97 2019-12-03 22:44:56.052279040             0  ShADdFar          4
            2019-12-03 22:44:56.068448000             0  ShADdFar          5
            2019-12-03 22:44:56.070252800             0  ShADadFr          6
            2019-12-03 22:44:56.046471168             0   ShADadr          7
            2019-12-03 22:44:56.035613184             0   ShADdar         11

                                           orig_ip_bytes  resp_pkts  \
id.orig_h   ts
10.18.20.97 2019-12-03 22:44:56.052279040            414          4
            2019-12-03 22:44:56.068448000            534          5
            2019-12-03 22:44:56.070252800           1826          6
            2019-12-03 22:44:56.046471168           3241          6
            2019-12-03 22:44:56.035613184           3234         10

                                           resp_ip_bytes
id.orig_h   ts
10.18.20.97 2019-12-03 22:44:56.052279040            455
            2019-12-03 22:44:56.068448000           1815
            2019-12-03 22:44:56.070252800           1792
            2019-12-03 22:44:56.046471168            726
            2019-12-03 22:44:56.035613184           3605

In [35]:
#zeek_df_json[zeek_df_json['id.orig_h'] == '10.18.20.97']

In [49]:
zeek_df_json.loc[(zeek_df_json['id.orig_h'] == '10.18.20.97') & (zeek_df_json['id.orig_p']==49187)]
# query ip and port

,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes
ts,,,,,,,,,,,,,,,,,
2019-12-03 22:44:56.052279040,CH53301MTU21BMj2Bj,10.18.20.97,49187,10.18.20.8,88,tcp,krb_tcp,0.001231,242,283,RSTR,0,ShADdFar,4,414,4,455

In [50]:
# DNS

In [53]:
from zat.log_to_dataframe import LogToDataFrame
from zat.json_log_to_dataframe import JSONLogToDataFrame

In [54]:
log_to_df = LogToDataFrame()
json_log_to_df = JSONLogToDataFrame()

In [56]:
zeek_df = log_to_df.create_dataframe('../data/dns.log')

In [57]:
zeek_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 54 entries, 2013-09-15 23:44:27.631939840 to 2013-09-15 23:48:07.897020928
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   uid          54 non-null     object
 1   id.orig_h    54 non-null     category
 2   id.orig_p    54 non-null     UInt16
 3   id.resp_h    54 non-null     category
 4   id.resp_p    54 non-null     UInt16
 5   proto        54 non-null     category
 6   trans_id     54 non-null     UInt64
 7   query        51 non-null     category
 8   qclass       51 non-null     UInt64
 9   qclass_name  51 non-null     category
 10  qtype        51 non-null     UInt64
 11  qtype_name   51 non-null     category
 12  rcode        51 non-null     UInt64
 13  rcode_name   51 non-null     category
 14  AA           54 non-null     category
 15  TC           54 non-null     category
 16  RD           54 non-null     category
 17  RA           54 non-null     category
 18  Z            54 non-null     UInt64
 19  answers      51 non-null     category
 20  TTLs         51 non-null     category
 21  rejected     54 non-null     category
dtypes: UInt16(2), UInt64(5), category(14), object(1)
memory usage: 8.9+ KB